# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/
*.db
*.sqlite3
*.lock
.activ_venv 

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.nbconvert.ipynb
jupyter_notebook_config.py

# Data Science
*.csv
*.parquet
*.h5
*.hdf5
*.pkl
*.pickle
*.joblib
*.model
*.weights
*.bin
*.arrow

# Logi i raporty
logs/
*.log
*.out
mlruns/
wandb/
lightning_logs/
runs/
results/
# ensemble_outputs/
# feature_comparison_results/
# model_outputs/
# spectrogram_model_results/
# */ensemble_outputs/
# */feature_comparison_results/
# */model_outputs/
# */spectrogram_model_results/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Pozostałe
dist/
build/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Wagi modeli
*.pth.tar
*.pth.tar.gz

# Foldery z wynikami eksperymentów
data/
src/data/



# Duże pliki danych
src/data/nemo_dataset/train/data-*.arrow

# NIE wykluczaj tych plików konfiguracyjnych
!pyproject.toml
!uv.lock
!requirements.txt

